* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}
:root {
  --yellow: #fed403;
  --columns: 12
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}
[class^="container"] {
  padding: 0px 15px;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0px auto;
}
.container-fluid {
  max-width: 100%;
  margin: 0px auto;
}
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
[class^="col"]
{
    padding: 0px 12px;
}
.col
{
    width: auto;
}
.col-1 {
  width: calc(100% / var(--columns) * 1);
}
.col-2 {
  width: calc(100% / var(--columns) * 2);
}
.col-3 {
  width: calc(100% / var(--columns) * 3);
}
.col-4 {
  width: calc(100% / var(--columns) * 4);
}
.col-5 {
  width: calc(100% / var(--columns) * 5);
}
.col-6 {
  width: calc(100% / var(--columns) * 6);
}
.col-7 {
  width: calc(100% / var(--columns) * 7);
}
.col-8 {
  width: calc(100% / var(--columns) * 8);
}
.col-9 {
  width: calc(100% / var(--columns) * 9);
}
.col-10 {
  width: calc(100% / var(--columns) * 10);
}
.col-11 {
  width: calc(100% / var(--columns) * 11);
}
.col-12 {
  width: calc(100% / var(--columns) * 12);
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}

header {
  background: #0d0d0d;
}
.navbar-brand > img {
  max-height: 39px;
}
.meta-nav {
  padding: 30px 50px;
  color: #ffffff;
}
.meta-nav:not(:last-child) {
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #ffffff21;
}
.icon {
  width: 41px;
  aspect-ratio: 1;
  background: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.meta-nav .details > p {
  font-weight: 500;
  color: #ffffff;
}
.meta-nav .details > a {
  color: rgba(255 255 255 / 50%);
  text-decoration: none;
}
.bg-warning {
  background: var(--yellow);
}
.bg-white
{
    background: #ffffff;
}
ul.navbar-nav
{
  padding: 0px calc(50px - 12px);
}
ul.navbar-nav > li
{
    display: inline-block;
    margin-right: 50px;
    padding: 30px 0px;
    position: relative;
}
ul.navbar-nav > li > a
{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
ul.navbar-nav > li.nav-item::before
{
  content: '';
  width: 5px;
  height: 0%;
  background: var(--yellow);
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  /* left: 0;
  right: 0;
  margin: 0px auto; */
  transition: all 500ms cubic-bezier(.03,.88,.13,.87);
}
ul.navbar-nav > li.nav-item:hover::before,
ul.navbar-nav > li.nav-item.active::before
{
  height: 40%;
}
ul.navbar-nav > li.nav-item > .nav-link
{
  display: block;
  position: relative;
  overflow: hidden;
}
ul.navbar-nav > li.nav-item > .nav-link::after
{
  content: attr(data-title);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,100%);
  transition: all 800ms cubic-bezier(.03,.88,0,1.03);
}
ul.navbar-nav > li.nav-item > a.nav-link > span
{
  display: block;
  transition: all 800ms cubic-bezier(.03,.88,0,1.03);
}
ul.navbar-nav > li.nav-item:hover > a.nav-link > span
{
  transform: translateY(-100%);
}
ul.navbar-nav > li.nav-item:hover > a.nav-link::after
{
  transform: translate(-50%, -50%);
}