* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "General Sans", sans-serif;
}
:root {
  --cyan: #31c9df;
  --dark-grey: #0d0d0d;
  --columns: 12;
  --transition-timing-function: cubic-bezier(1, 0, 0.12, 1);
}
::selection
{
  color: var(--cyan);
  background: var(--dark-grey);
}
html{
  scroll-behavior: smooth;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -12px;
}
[class^="container"] {
  padding: 0px 12px;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0px auto;
}
.container-fluid {
  max-width: 100%;
  margin: 0px auto;
}
.img-fluid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
[class^="col"] {
  padding: 0px 12px;
}
.col {
  width: auto;
}
.col-1 {
  width: calc(100% / var(--columns) * 1);
}
.col-2 {
  width: calc(100% / var(--columns) * 2);
}
.col-3 {
  width: calc(100% / var(--columns) * 3);
}
.col-4 {
  width: calc(100% / var(--columns) * 4);
}
.col-5 {
  width: calc(100% / var(--columns) * 5);
}
.col-6 {
  width: calc(100% / var(--columns) * 6);
}
.col-7 {
  width: calc(100% / var(--columns) * 7);
}
.col-8 {
  width: calc(100% / var(--columns) * 8);
}
.col-9 {
  width: calc(100% / var(--columns) * 9);
}
.col-10 {
  width: calc(100% / var(--columns) * 10);
}
.col-11 {
  width: calc(100% / var(--columns) * 11);
}
.col-12 {
  width: calc(100% / var(--columns) * 12);
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.p-0 {
  padding: 0px !important;
}
.m-0 {
  margin: 0px !important;
}
.bg-cyan
{
  background: var(--cyan);
}

header {
  background: #0d0d0d;
}
header > .container-fluid > div.row:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.129);
}
.navbar-brand > img {
  max-height: 39px;
  filter: hue-rotate(116deg);
}
.meta-nav {
  padding: 30px 50px;
  color: #ffffff;
}
.meta-nav:not(:last-child) {
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: #ffffff21;
}
.icon {
  width: 41px;
  aspect-ratio: 1;
  background: var(--cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.meta-nav div.icon > i {
  color: #000000;
}
.meta-nav .details > p {
  font-weight: 500;
  color: #ffffff;
}
.meta-nav .details > a {
  color: rgba(255 255 255 / 50%);
  text-decoration: none;
  display: block;
  overflow: hidden;
  position: relative;
}
.meta-nav .details > a::before {
  content: "";
  width: 0;
  height: 0.5px;
  background: var(--cyan);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 500ms var(--transition-timing-function);
}
.meta-nav:hover .details > a::before {
  width: 100%;
}
.bg-warning {
  background: var(--cyan);
}
.bg-white {
  background: #ffffff;
}
ul.navbar-nav {
  padding: 0px calc(50px - 12px);
}
ul.navbar-nav > li {
  display: inline-block;
  margin-right: 50px;
  padding: 30px 0px;
  position: relative;
}
ul.navbar-nav > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
ul.navbar-nav > li.nav-item::before {
  content: "";
  width: 5px;
  height: 0%;
  background: var(--cyan);
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  /* left: 0;
  right: 0;
  margin: 0px auto; */
  transition: all 500ms cubic-bezier(0.03, 0.88, 0.13, 0.87);
}
ul.navbar-nav > li.nav-item:hover::before,
ul.navbar-nav > li.nav-item.active::before {
  height: 40%;
}
ul.navbar-nav > li.nav-item > .nav-link {
  display: block;
  position: relative;
  overflow: hidden;
}
ul.navbar-nav > li.nav-item > .nav-link::after,
.meta-nav .details > a::after {
  content: attr(data-title);
  text-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: all 800ms cubic-bezier(0.03, 0.88, 0, 1.03);
}
ul.navbar-nav > li.nav-item > a.nav-link > span,
.meta-nav .details > a > span {
  display: block;
  text-wrap: nowrap;
  transition: all 800ms cubic-bezier(0.03, 0.88, 0, 1.03);
}
ul.navbar-nav > li.nav-item:hover > a.nav-link > span,
.meta-nav:hover .details > a > span {
  transform: translateY(-100%);
}
ul.navbar-nav > li.nav-item:hover > a.nav-link::after,
.meta-nav:hover .details > a::after {
  transform: translate(-50%, -50%);
}
ul.navbar-nav > li.nav-item > ul.dropdown-menu {
  top: 100%;
  position: absolute;
  min-width: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  background: #000000;
  transform: translateY(30px);
  visibility: hidden;
  opacity: 0;
  z-index: 99;
  transition: all 300ms var(--transition-timing-function);
}
ul.navbar-nav > li.nav-item.dropdown:hover > ul.dropdown-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
ul.dropdown-menu > li.dropdown-item {
  list-style: none;
  padding: 10px 0px;
}
ul.dropdown-menu > li.dropdown-item:not(:last-child) {
  border-bottom: 1px solid rgba(255 255 255 / 20%);
}
ul.dropdown-menu > li.dropdown-item > a {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}
.meta-nav:hover .details > a::after {
  color: var(--cyan);
}
header > .container-fluid > div.row:nth-child(2) > div.col:nth-child(2) {
  flex-grow: 1;
}
.primary-btn {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  padding: 6px;
  text-align: center;
  background: var(--cyan);
  position: relative;
  transition: all 500ms var(--transition-timing-function);
}
.primary-btn.btn-dark
{
  background: var(--dark-grey);
  color: #ffffff;
}
.primary-btn > span
{
  padding: 0px 24px;
}
.primary-btn::before {
  content: "";
  width: 0%;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 700ms var(--transition-timing-function);
}
.primary-btn.btn-dark::before
{
  background: #ffffff;
}
.primary-btn:hover::before {
  width: 100%;
}
.primary-btn > span.btn-label {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.primary-btn.btn-dark > span.btn-label
{
  padding: 12px 24px;
  top: auto;
  transform: translateY(0);
}
.primary-btn > span.btn-label::after {
  content: attr(data-title);
  text-wrap: nowrap;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: all 700ms var(--transition-timing-function);
}
.primary-btn:hover > span.btn-label::after {
  color: #ffffff;
  transform: translate(-50%, -50%);
  /* opacity: 1;
  visibility: visible; */
}
.primary-btn.btn-dark:hover > span.btn-label::after
{
  color: var(--dark-grey);
}
.primary-btn > span.btn-label > span {
  display: block;
  /* opacity: 1;
  visibility: visible; */
  transform: translateY(0);
  transition: all 700ms var(--transition-timing-function);
}
.primary-btn:hover > span.btn-label > span {
  transform: translateY(-100%);
  /* opacity: 0;
  visibility: hidden; */
}
.primary-btn > div.inner-icon
{
  width: 49px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  position: relative;
  z-index: 4;
  transition: all 800ms var(--transition-timing-function);
}
.primary-btn.btn-dark:hover > div.inner-icon
{
  background: var(--dark-grey);
}
.primary-btn > div.inner-icon > i
{
  color: var(--dark-grey);
  transition: all 1s var(--transition-timing-function);
}
.primary-btn.btn-dark:hover > div.inner-icon > i
{
  color: #ffffff;
  transform: rotate(45deg);
}
.banner-content {
  background: var(--cyan);
}
.banner-slogan {
  padding: 120px 0px 60px 100px;
}
.banner-slogan > h1 {
  font-size: 55px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 63px;
  margin-bottom: 20px;
}
.banner-slogan > h1 > span {
  opacity: 50%;
}
.skew-shape {
  width: 13px;
  height: 20px;
  transform: skewX(315deg);
  background: var(--dark-grey);
}
.owl-carousel.border-carousel .owl-stage {
    transition-timing-function: linear !important;
}

.banner-bottom
{
  padding: 60px 100px 60px 100px;
}
.trusted-icon
{
  width: 61px;
  height: 61px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.rating
{
  padding: 10px 0px;
  margin-left: 10px;
}
.rating > ul > li
{
  display: inline-block;
}
.hero-img
{
  filter: hue-rotate(359deg) saturate(120%);
}
